.main-container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1em;
}

.main-container * {
    position: relative;
}

.main-container h1 {
    text-align: center;
    font-weight: bold;
}

.programme {
    margin: auto;
}

.day-buttons {
    display: flex;
}

.day-button {
    height: 50px;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.day-button.active {
    background: #4cb7b0;
    color: white;
    font-weight: bold;
}

.days-container {
    display: none;
}

.days-container.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-top: 1px solid black;
}

thead tr {
    border-top: none;
}

td, th {
    text-align: center;
    height: 4em;
    width: 30%;
    border: 1px solid black;
}

td:first-child, th {
    border: none;
}

tr:last-child td:first-child {
    border-bottom: 1px solid black;
}

td:nth-child(2) {
    border-left: none;
}

td:last-child {
    border-right: none;
}

th:first-child, td:first-child {
    width: 10%;
}

.break {
    font-weight: bold;
    background-color: #4cb7b02b;
}

.lunch-break {
    height: 6em;
}

.talk-title, .speaker-name {
    display: block;
}

.speaker-name {
    margin-top: 0.5em;
    font-style: italic;
    font-weight: 400;
}

.unConf {
    font-weight: bold;
}

.lunch-break td {
    height: 8em;
}

.sponsor-talk {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 33.3333%;
    height: 50%;
    padding: 10px 0;
    background: white;
    font-weight: 500;
    border: 1px solid black;
    border-top: none;
}

@media (max-width: 767px) {
    .programme {
        position: relative;
        width: 100%;
    }

    .day-buttons {
        float: left;
        width: 50px;
        height: 100vh;
        flex-direction: column;
        margin-right: 10px;
    }

    .day-button span {
        white-space: nowrap;
        transform: rotate(-90deg);
    }

    table {
        float: left;
        width: calc(100% - 60px);
    }

    table, tbody, thead, tr, th {
        display: block;
        overflow: auto;
    }

    thead tr {
        display: flex;
        margin-bottom: 10px;
    }

    td, td {
        height: 6em;
    }

    th:first-child {
        display: none;
    }

    th {
        display: flex;
        width: 33%;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
    }

    th.active {
        background: #4cb7b0;
        color: white;
    }

    td {
        float: left;
        display: none;
        padding: 0;
        margin: 0;
        border: none;
    }

    td:first-child,
    td[colspan],
    td.active
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    td:first-child {
        width: 80px;
    }

    td.active, td[colspan] {
        width: calc(100% - 80px);
    }

    tr.unConf-time.active td {
        height: 9em;
    }

    tr.unConf-time.active + tr,
    tr.unConf-time.active + tr + tr
    {
        display: none;
    }

    tr:last-child td {
        border-bottom: 1px solid black;
    }

    tr.lunch-break, tr.lunch-break td {
        height: 12em;
    }

    .sponsor-talk {
        display: none;
        position: relative;
        top: -20%;
        height: 50%;
        width: 100%;
        border-right: none;
    }

    .sponsor-talk.active {
        display: block;
    }


}
